body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
  background-color: #f6e7e6;
}

h1 {
  font-size: 562.5%;
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  line-height: 1.5;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}

h3 {
  font-weight: normal;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

hr{
  border: dotted #d8b5b5 0.375rem;
  width: 5%;
  border-top: none;
  margin: 6.25rem auto;
}
p{
  line-height: 2;
}
.intro{
  width: 30%;
  margin: auto;
}

.TopContainer {
  background-color: #f6e7e6;
  position: relative;
  padding-top: 6.25rem;
}

.MiddleContainer {
  background-color: #f6e7e6;
  margin: 6.25rem 0;
}
a{
  color: #11999e;
  margin: 0.625rem 1.5rem;
  text-decoration:none;
}

a:hover{
  color: #EAf6f6;
}
.BottomContainer {
  background-color: #66bfbf;
  padding: 3.125rem 0 1.5rem;
}

.top_cloud {
  position: absolute;
  top: 3rem;
  right: 1.5625rem;
}

.bottom_cloud {
  position: absolute;
  bottom: 18.75rem;
  left: 1.5625rem;
}

.images{
    border-radius: 100%;

}

.image-comp{
  float: left;
  margin-right: 30px;
  width: 25%;
  border-radius: 100%;
}

.image-chilli{
  float: right;
  margin-left: 1.875rem;
  width: 25%;
  border-radius: 100%;
}

.skill-row{
  width: 50%;
margin: 6.25rem auto;
text-align: left;

}

.contact-message{
  width: 30%;
  margin: 2.5rem auto 3.75rem ;
}

.copyright{
  color: #EAf6f6;
  font-size: 0.75rem;
  padding: 1.5rem 0;
}


.btn {
	-moz-box-shadow:inset -1px -2px 10px -21px #17e8d7;
	-webkit-box-shadow:inset -1px -2px 10px -21px #17e8d7;
	box-shadow:inset -1px -2px 10px -21px #17e8d7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0ce9f5), color-stop(1, #11d4f2) );
	background:-moz-linear-gradient( center top, #0ce9f5 5%, #11d4f2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0ce9f5', endColorstr='#11d4f2');
	background-color:#66bfbf;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
	text-indent:-7.98px;
	border:2px solid #66bfbf;
	display:inline-block;
	color:#0d556b;
	font-family: 'Montserrat', sans-serif;
	font-size:13px;
	font-weight:bold;
	font-style:normal;
	height:20px;
	line-height:20px;
	width:113px;
	text-decoration:none;
	text-align:center;
	text-shadow:12px 5px 0px #0edceb;
}
.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #11d4f2), color-stop(1, #0ce9f5) );
	background:-moz-linear-gradient( center top, #11d4f2 5%, #0ce9f5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#11d4f2', endColorstr='#0ce9f5');
	background-color:#66bfbf;
}.btn:active {
	position:relative;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */
